img {
  max-width: 100%;
  transition: transform 0.2s;
  border-radius: 0.2857rem;
  width: 140px;
  height: 90px;
  cursor: pointer;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42),
    0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

  &:hover {
    transform: scale(1.1);
  }
}
// p {
//   font-size: 15px;
//   color: white;
// }
