.card-header {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins";
}

.dialog-card {
  max-width: 400px;
  background-color: #27293d;
  color: white;
  font-family: "Poppins";
}

.image {
  border-radius: 5px;
  width: 100%;
  height: 200px;
  justify-content: center;
}

.official-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

::ng-deep {
  .mat-dialog-container {
    background-color: #27293d;
    font-family: "Poppins";
  }
  .mat-divider {
    border-top-color: rgb(255 255 255 / 20%);
  }
  .mat-list-base .mat-list-item {
    color: white;
    font-family: "Poppins";
  }
  .mat-line {
    display: flex !important;
    justify-content: space-between;
  }
  .mat-list-item-content {
    padding: 0 !important;
  }
  .mat-dialog-title {
    font-family: "Poppins";
  }
}

@media (max-width: 500px) {
  .image {
    margin-top: 5px;
    height: 140px;
  }

  ::ng-deep {
    .mat-dialog-title {
      margin: -10px 0px 10px 0;
      display: block;
    }
    .mat-list-base .mat-list-item.mat-list-item-with-avatar,
    .mat-list-base .mat-list-option.mat-list-item-with-avatar {
      height: 35px !important;
    }
    .mat-list-base .mat-list-item {
      font-size: 12px;
    }
    .mat-list-text {
      padding: 0px !important;
    }
    .mat-icon {
      display: none !important;
    }
  }
}
